/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";

$link-base-color: rgb(35, 55, 77);
$serif-font: "Merriweather", serif;
$sanserif-font: "Lato", san-serif;

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
a {
  &:hover,
  &:visited,
  &:link,
  &:active {
    color: #23374d;
    text-decoration: none !important;
  }
}

.ft-300 {
  font-weight: 300;
}

footer {
  a {
    &:hover,
    &:visited,
    &:link,
    &:active {
      color: white;
    }
  }
  p.feed-subscribe {
    font-weight: 600;
    font-size: 1.7rem;
  }
  .feed-subscribe .svg-icon {
    padding: 0;
    width: 30px;
    height: 22px;
  }
}

.home {
  a {
    :hover,
    :visited,
    :link,
    :active {
      color: inherit;
      text-decoration: none !important;
    }
  }
  font-family: $sanserif-font;
}

.ft-300 {
  font-weight: 300;
}

.ft-900 {
  font-weight: 900;
}

body {
  background-color: #14171a;

  font-family: $sanserif-font !important;
}

.page-content {
  min-height: 50vh;
  font-family: $serif-font !important;
}

body {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sanserif-font;
}

.site-nav .page-link {
  font-size: 16px;
  font-weight: 400;
  font-family: $sanserif-font;
  border: 0px;
  color: inherit;
  &:hover{
    background: transparent;
  }
}
.category-tags-link {
  color: #3498DB !important;
  font-weight: 500;
  background: #ddd;
  padding: 5px 8px;
  font-family: $sanserif-font;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

li .post-meta-description {
  max-width: 40vw;
}

.post-meta-title,
.post-meta {
  margin-bottom: 0.8em !important;
}

.site-header {
  border-top: 0px solid #424242;
  padding-bottom: 16px;
  border-bottom: 5px solid #ceab4a;
  min-height: 60px;
  line-height: 54px;
  padding-top: 20px;
  background: white;
  color: #040404;
  position: relative;
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.20), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.10), 0 16px 16px rgba(0,0,0,0.05); */
}

.site-title {
  font-size: 1.325rem;
  font-weight: 700;
  font-family: $sanserif-font;
  letter-spacing: 0px;
  margin-top: 3px;
}

.site-title,
.site-title:visited {
  font-weight: 700;
  color: inherit;
  font-size: 1.5rem;
}

.header-maintext {
  margin-top: 60px;
  font-size: 42px;
}

.header-subtext {
  font-size: 19px;
  max-width: 500px;
}

.home-post-header {
  font-size: 28px;
  margin-top: 60px;
}

@media screen and (min-width: 600px) {
  .site-nav {
    padding-top: 4px;
  }
}

.footer-col-wrapper,
.social-links {
  font-size: 0.9375rem;
  color: inherit;
}

.site-footer {
  background: rgb(35, 55, 77);
  color: white;
  font-family: $sanserif-font;
}

.social-media-list li a,
.pagination li a {
  border: 0px solid #e8e8e8;
}

.page-description {
  font-weight: 300;
  font-family: $sanserif-font;
  margin-bottom: 1.2rem !important;
  font-size: 1.1rem !important;
}

.social-links i {
  font-size: 30px;
}

.post-title {
  font-weight: 900;
}

.post-content {
  padding-top: 15px;
}

.highlight {
  border-radius: 5px;
}

.footer-description {
  margin-left: -100px;
  font-size: 1rem;
}

.post-meta {
  font-weight: 300;
  font-size: 0.8rem;
}

::-webkit-scrollbar {
  width: 1.7vw;
}
.card-wrapper {
  max-width: 50em;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 0 auto;
  background: white;
  position: relative;
  min-height: 100%;
  height: auto;
}

@media screen and (min-width: 800px) {
  .post-content h2 {
    font-size: 1.7rem;
    font-weight: 700;
  }
  .card-wrapper {
    width: 75%;
  }
}

.post-content p, .post-content li {
  font-size: 16px;
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight";
